# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.pytest_cache

# Downloads folder
downloads/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Environment variables
.env

# Logs
*.log

test_downloads
